doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/container.css')
    link(rel='stylesheet', href='/stylesheets/header.css')
    link(rel='stylesheet', href='/stylesheets/footer.css')
  body
    #header
      #h-left
        #logo
      #h-center
        #header-title Online Judge
        #menu
          ul
            li
              a(href="../") HOME
            li
              a(href="registrar") REGISTRAR
            li
              a(href="perfil") PERFIL
              ul
                li
                  a(href="configuracion") CONFIGURACION
                li
                  a(href="estadisticas") ESTADISTICAS
            li
              a(href="temas") TEMAS
            li
              a(href="foro") FORO
            li
              a(href="categorias") PROBLEMAS
              ul
                li
                  a(href="begginer") BEGGINER
                li
                  a(href="ad-hoc") AD-HOC
                li
                  a(href="estructuras") ESTRUCTURAS
                li
                  a(href="strings") STRINGS
                li
                  a(href="matematicas") MATEMATICAS
                li
                  a(href="paradigmas") PARADIGMAS
                li
                  a(href="grafos") GRAFOS
                li
                  a(href="geometria") GEOMETRIA
            li
              a(href="envios") ENVIOS
            li
              a(href="rank") RANK
            li
              a(href="logout") SALIR
      #h-right
        #header-login
          ul
            li
              a(href="login") Log in
    block content