body {
	margin: 0;
	padding: 0;
	background-color: #C3C1C1;
	display: inline;
	background-image: url("../img/fondo.jpg");
}

#container{
	width: 950px;
	min-height: 800px;
	margin: 90px 200px 40px 200px;
	display: block;
	background-color: red;
}

#side-bar{
	margin: 0px ;
	min-height: 500px;
	width: 200px;
	padding: 25px;
	background-color: green;
	float: left;
}

#content{
	width: 700px;
	min-height: 800px;
	background-color: white;
	float: left;
}