body {
	margin: 0;
	padding: 0;
	background-color: #C3C1C1;
	display: inline;
	background-image: url("../img/fondo.jpg");
}

#container{
	width: 950px;
	min-height: 800px;
	margin: 90px 200px 40px 200px;
	display: block;
	background-color: red;
}

#side-bar{
	margin: 0px ;
	min-height: 500px;
	width: 200px;
	padding: 25px;
	background-color: green;
	float: left;
}

#content{
	width: 660px;
	min-height: 800px;
	margin: 0 20px 0 20px;
	background-color: white;
	float: left;
}

#page-name{
	width: 100%;
	height: 80px;
	margin: 20px 0 20px 0;
	background-color: yellow;
}

#content h1{
	margin: 0px;
}