#category-list {
	background-color: yellow;
}

#category-list ul{

}

#category-list ul li{
	width: 300px;
	max-height: 100px;
	margin-bottom: 20px;
	margin-right: 20px;
	list-style: none;
	float: left;
	background-color: blue;
}

#category-list ul li::before{
	content: "";
}

#category-list ul li span{
	width: 100px;
	height: 100px;
	float: left;
	text-align: center;
	font-family: Verdana;
	font-size: 80px;
	font-weight: bold;
	color: red;
}

#tabla{
	width: 150px;
	max-height: 70px;
	margin-top: 15px;
	margin-bottom: 15px;
	float: left;
	background-color: green;
	overflow: hidden;
}

#tabla a{
	min-width: 150px;
	height: 15px;
	display: block;
	font-family: Verdana;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
	background-color: yellow;
	overflow: hidden;
}

#tabla p{
	width: 150px;
	height: 30px;
	margin: 0px;
	display: block;
	font-family: Arial;
	font-size: 12px;
	overflow: hidden;
}

#tabla b{
	width: 150px;
	height: 15px;
	display: block;
	font-family: Verdana;
	text-transform: uppercase;
	font-size: 14px;
	overflow: hidden;
	color: blue;
}