extends ../layout

block content
  head
    link(rel='stylesheet', href='/stylesheets/lista-problemas.css')
  #container
    #side-bar
    #content
      #page-name
        h1 PROBLEMAS
      table
        thead
          tr
            th id
            th problema
            th autor
            th nivel
            th estado
        tbody
          each x in message
            tr
              each y in x
                td
                  a #{y} &nbsp